.footerContainer {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 570px) {
    .footer {
        font-size: 1.2rem;
    }
}

@media (max-width: 410px) {
    .footer {
        font-size: .8rem;
    }
}

@media (max-width: 320px) {
    .footer {
        font-size: .5rem;
    }
}